:root{
    font-family: monospace;
    scroll-behavior: smooth;
    --color1: blueviolet;
    --color2: rgb(236, 255, 61);
    --color3: rgb(127, 255, 212);
    --color4: rgb(255, 127, 127);
    --color5: rgb(219, 127, 255);
    overflow-x: hidden;
}
logo{
  z-index: 1000;
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: #ff7575;
    padding: 10px;
    color: #ffffff;
    border-radius: 10px;
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .home span{
    position: absolute;
    bottom: 1px;
} */
.main{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.abt {
    /* pointer: center; */
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    margin: 10px;
    transition: all ease-in-out .5s;
}
.abt[bgaja="yellow"]:hover{
    background-color: var(--color2);
    color: #ffffff;
    box-shadow: 0 0 7px 6px var(--color2);
}
.abt[bgaja="blue"]:hover{
    background-color: var(--color3);
    color: #ffffff;
    box-shadow: 0 0 7px 6px var(--color3);
}
.abt[bgaja="red"]:hover{
    background-color: var(--color4);
    color: #ffffff;
    box-shadow: 0 0 7px 6px var(--color4);
}
.abt[bgaja="purple"]:hover{
    background-color: var(--color5);
    color: #ffffff;
    box-shadow: 0 0 7px 6px var(--color5);
}
.abt[bgaja="github"]:hover{
    box-shadow: 0 0 7px 6px #9e75ff;
    background-color: #9e75ff;
    color: #ffffff;
}
h1{
    font-size: 40px;
}

.about-me{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experiences{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project{
    width: 100%;
    /* height: 200vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar{
  display: none;
}
.images{
  columns: 200px;
}
.images img{
  width: 100%;
  margin: 1rem;
}

.images video{
  width: 100%;
  margin: 1rem;
}
.images2 img{
  width: 100%;
  object-fit: contain;
  aspect-ratio: 3/2;
}
.images2{
  columns: 100px;
}
form{
  display: flex;
  flex-direction: column;
}
form input{
  padding: 10px;
  border-radius: 15px;
  border: 2px solid var(--color1);
  margin: 10px;
  transition: all ease-in-out .1s;
  outline: none;
}
form input:hover::placeholder{
  color: #ffffff;
}
form input:hover{
  background-color: var(--color1);
  color: #ffffff;
}
textarea{
  padding: 10px;
  border-radius: 15px;
  border: 2px solid var(--color1);
  margin: 10px;
  transition: all ease-in-out .1s;
  outline: none;

}
@media only screen and (min-width: 600px) {
    /* For tablets: */
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .images2{
      width: 100%;
      columns: 200px;
    }
    .images{
      columns: 300px;
    }
}